{% extends "ecomm/main.html" %}
{% block content %}
<br>
<div class = "row">
    <div class ="col-md">
        <div class = "card card-body">
            <h4>Customers</h4>
        </div>
        <div class = "card card-body">
            <table class = "table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Number of Orders</th>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.orders.count}}</td>
                        <td><a class = "btn btn-small btn-info" href="{% url 'profile' customer.id %}">View</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
