{% extends "ecomm/main.html" %} {% block content %} 
{% include "ecomm/status.html" %}
<br />
<div class="row">
    <div class = "col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr />
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
            <table class="table table-sm">
                <tr>
                  <th>Customer</th>
                  <th>Phone</th>
                </tr>
                {% for customer in customers %}
                    <tr>
                        <td> {{customer.name}} </td>
                        <td> {{customer.phone}} </td>
                        <td><a href="">View</a>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>LAST 5 ORDERS:</h5>
        <hr />
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                <th>Order Number</th>
                <th>Date Ordered</th>
                <th>Status</th>
                <th>Update</th>
                <th>Remove</th>
                </tr>
                {% for order in orders%}
                    <tr>
                        <td>O{{order.id}}</td>
                        <td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                        <td><a href="">Update</td>
                        <td><a href="">Remove</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class = "row">
        <div class = "col-md-12">
            <div class = "card card-body">
                <h5><center>PRODUCTS WITH HIGHEST REWARDS</center></h5>
                <table class = "table table-sm">
                    <tr>
                    {% for product in products %}
                    <td><b>{{product.name}}</b> (#{{product.product_num}})<br>{{product.description}}</td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
</div>
{% endblock %}
