{% extends "ecomm/main.html" %}
{% load static %}
{% block content %}
<br>
<div class = "row">
    <div class ="col-md-6">
        <div class = "card card-body">
            <form action="" method="POST">
                {% csrf_token %} {%comment%}a way to pass data securely{%endcomment%}
                {{ formset.management_form }} {%comment%}whenever we use a for loop we need this so it saves each form individually{%endcomment%}
                {% for form in formset %} 
                    {{form}}
                    <hr>
                {% endfor %}
                <input class = "btn btn-info" type = "submit" value = "Submit">
            </form>
        </div>
    </div>
</div>


{% endblock content %}